/*
 * Farbangaben
 */
$orange: #FF8700
$green: #69A550
$black80: #515151
$black55: #8C8C8C
$black35: #B9B9B9

/*
 * Fonts
 */


@font-face
  font-family: 'Share-Regular'
  src: url('./fonts/Share-Regular.ttf') format("truetype") 
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Share-Bold'
  src: url('./fonts/Share-Bold.ttf') format("truetype") 
  font-weight: bold
  font-style: normal

$gridColumns: 10  
$linkColor: $green
$sansFontFamily: "Share-Regular", Helvetica, Arial, sans-serif
$sansFontFamily2: "Share-Bold", Helvetica, Arial, sans-serif
