@import constants
@import bootstrap
// @import bootstrap-responsive


body
  padding: 60px 10px 10px 10px
  font-family: $sansFontFamily
p
  font-family: $sansFontFamily

li.nav-header
  font-family: $sansFontFamily2 !important
#footer 
  img
    vertical-align: top
  p
    color: $black35
  a
    color: $orange
