@import constants
@import bootstrap
// @import bootstrap-responsive

body
  padding: 60px 10px 10px 10px
  font-family: $sansFontFamily
p
  font-family: $sansFontFamily

li.nav-header
  font-family: $sansFontFamily2 !important
#footer 
  img
    vertical-align: top
  p
    color: $black35
  a
    color: $orange

// Icons
  
.typo3-login
  @include typo3-icon("login.png")  
.typo3-installtool 
  @include typo3-icon("installtool.png")
.typo3-weblist
  @include typo3-icon("weblist.png") 
.typo3-template
  @include typo3-icon("template.png") 
.typo3-pagetree
  @include typo3-icon("info.png") 
.typo3-linkvalidator
  @include typo3-icon("info.png") 
.typo3-recycler
  @include typo3-icon("recycler.png") 
.typo3-permissions
  @include typo3-icon("permissions.png") 
.typo3-em
  @include typo3-icon("em.png") 
.typo3-beuser
  @include typo3-icon("beuser.png") 
.typo3-dbcheck
  @include typo3-icon("dbcheck.png") 
.typo3-configuration
  @include typo3-icon("config.png") 
.typo3-adminlog
  @include typo3-icon("logs.png") 
.typo3-reports
  @include typo3-icon("logs.png") 
.typo3-scheduler
  @include typo3-icon("scheduler.png") 
.typo3-help_user
  @include typo3-icon("help_user.png") 
.typo3-help_ts
  @include typo3-icon("help_ts.png") 
