!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title typo3 - little helper
    %meta(content="This chrome extension makes the work with TYPO3 a little bit easier." name="description")
    %meta(content="Agentur Simon Wuppertal | Bertram Simon | TYPO3 + Webdesign" name="author")
    %meta(content="width=device-width" name="viewport")
    %link(href="stylesheets/styles.css" rel="stylesheet")
    %link(rel="shortcut icon" href="images/16.png")
    %base(target="_blank")
    %script(src="javascripts/jquery-1.9.1.min.js")
    %script(src="javascripts/bootstrap-dropdown.js")
    %script(src="javascripts/scripts.js")
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="http://association.typo3.org")
            %img(alt="Go to TYPO3.org" src="images/logo.png")
          %ul.nav
            %li
              %a(href="http://typo3.org/download/") Downloads
            %li
              %a(href="http://typo3.org/extensions/repository/") Extensions
            %li
              %a(href="http://wiki.typo3.org/") WIKI
            %li
              %a(href="http://typo3.org/news/") News
            %li
              %a(href="http://typo3.org/teams/security/security-bulletins/") Security
            %li
              %a(href="http://buzz.typo3.org/") Buzz
            %li
              %a(href="http://twitter.com/typo3/") Twitter
          .btn-group.pull-right
            %button.btn.btn-warning.dropdown-toggle{"data-toggle" => "dropdown"}
              Fast access
              %span.caret
            %ul.dropdown-menu
              %li
                %a.typo3-login
                  %i
                  Login
              %li
                %a.typo3-installtool
                  %i  
                  Installtool
              %li.divider
              %li
                %a.typo3-weblist
                  %i
                  Weblist
              %li
                %a.typo3-template
                  %i
                  Template
              %li
                %a.typo3-pagetree
                  %i
                  Pagetree overview
              %li
                %a.typo3-linkvalidator
                  %i
                  Linkvalidator
              %li
                %a.typo3-recycler
                  %i
                  Recycler
              %li
                %a.typo3-permissions
                  %i
                  Permissions
              %li.divider
              %li
                %a.typo3-em
                  %i
                  Extension Manager
              %li
                %a.typo3-beuser
                  %i
                  Backend-User
              %li
                %a.typo3-dbcheck
                  %i
                  DB Check
              %li
                %a.typo3-configuration
                  %i
                  Configuration
              %li
                %a.typo3-adminlog
                  %i
                  Admin Changelog
              %li
                %a.typo3-reports
                  %i
                  Reports
              %li
                %a.typo3-scheduler
                  %i
                  Scheduler
              %li.divider
              %li
                %a.typo3-help_user
                  %i
                  TYPO3 Inline User Manual
              %li
                %a.typo3-help_ts
                  %i
                  TypoScript Help

    .main
      .container
        .row
          .span5
            %form.form-horizontal.well(accept-charset="utf-8" action="http://typo3.org/search/" method="get")<
              %input.search-query(placeholder="Full TYPO3.org" type="text" name="q" spellcheck="false" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true")
              %input(type="hidden" name="tx_solr[resultsPerPage]" value="50")
              %input.btn(type="submit" value="Search")
          .span5
            %form.form-horizontal.well(accept-charset="utf-8" action="http://typo3.org/extensions/repository/" method="get")<
              %input.search-query(placeholder="TYPO3 Extensions" aria-autocomplete="list" aria-haspopup="true" autocomplete="off" name="q" role="textbox" type="text")
              %input(type="hidden" name="tx_solr[filter][0]" value="state:stable")
              %input(type="hidden" name="tx_solr[sort]" value="title%20asc")
              %input.btn(type="submit" value="Search")
        .row
          .span5
            %ul.nav.nav-tabs.nav-stacked
              %li.nav-header
                TYPO3 Docs
              %li
                %a(href="http://docs.typo3.org/typo3cms/Index.html") TYPO3 CMS Documentation
              %li
                %a(href="http://docs.typo3.org/typo3cms/Examples.html") Examples
              %li
                %a(href="http://docs.typo3.org/typo3cms/extensions/") Extensions
              %li
                %a(href="http://docs.typo3.org/typo3cms/Guides.html") Guides
              %li
                %a(href="http://docs.typo3.org/typo3cms/References.html") References
              %li
                %a(href="http://docs.typo3.org/typo3cms/Tutorials.html") Tutorials
              %li
                %a(href="http://docs.typo3.org/Overview/Contribute.html") Ways to contribute
              %li
                %a(href="http://docs.typo3.org/Overview/Tips.html") Tips
              %li
                %a(href="http://docs.typo3.org/typo3cms/TSconfigReference/") TSconfig Reference
          .span5
            %ul.nav.nav-tabs.nav-stacked
              %li.nav-header
                Extension Documentation (probably) most wanted
              %li
                %a(href="http://typo3.org/extension-manuals/tt_news/current/") News (tt_news)
              %li
                %a(href="http://typo3.org/extension-manuals/templavoila/current/") TemplaVoila! (templavoila)
              %li
                %a(href="http://typo3.org/extension-manuals/powermail/current/") powermail(powermail)
              %li
                %a(href="http://typo3.org/extension-manuals/doc_indexed_search/current") Indexed Search (doc_indexed_search)
              %li
                %a(href="http://typo3.org/extension-manuals/crawler/current") Site Crawler (crawler)
              %li
                %a(href="http://typo3.org/extension-manuals/crawler/current") Direct Mail (direct_mail)
              %li
                %a(href="http://typo3.org/extension-manuals/sr_feuser_register/current/") Front End User Registration (sr_feuser_register)
              %li
                %a(href="http://typo3.org/extension-manuals/cal/current/") Calendar Base (cal)
              %li
                %a(href="http://typo3.org/extension-manuals/ve_guestbook/current/") Modern Guestbook / Commenting (ve_guestbook)
                
                
                
    %footer#footer
      .container
        .row
          .span5
            %p
              TYPO3 - little helper
              %span.version
              was built with
              %a(href="http://fireapp.handlino.com/")<
                %img(alt="Go to fire.app" src="images/fire.app.png")<
          .span5
            %p.pull-right
              &copy; 2012 by 
              %a(href="http://www.agentur-simon.de/" rel="tooltip" title="Agentur Simon. Attractive, fast loading and user-friendly web sites are our trademark. And we love Webdesign and TYPO3.")<
                Agentur Simon