.col-xs-4
  .list-group
    .list-group-item.active
      TYPO3 Docs
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/Index.html") TYPO3 CMS Documentation
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/Examples.html") Examples
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/") Extensions
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/Guides.html") Guides
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/References.html") References
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/Tutorials.html") Tutorials
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/CheatSheets.html") Cheat Sheets
    %a.list-group-item(href="http://docs.typo3.org/Overview/Tips.html") Tips
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/TSconfigReference/") TSconfig Reference