.col-xs-4
  .list-group
    .list-group-item.active
      Extension Docs most wanted
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/direct_mail/") Direct Mail
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/news/") Dynamic Content Elements
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/femanager/") FE Manager
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/flux/") Fluid Dynamic FlexForms
    %a.list-group-item(href="http://www.typo3-formhandler.com/documentation/getting-started/") Formhandler
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/gridelements/") Gridelements
    %a.list-group-item(href="http://kesearch.kennziffer.com/dokumentation/") KE Search
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/news/") News
    %a.list-group-item(href="http://docs.typo3.org/typo3cms/extensions/powermail/") Powermail
