.col-xs-4
  .list-group
    .list-group-item.active
      Extension Docs most wanted
    %a.list-group-item(href="https://typo3.org/extension-manuals/tt_news/current/view") tt_news
    %a.list-group-item(href="https://typo3.org/extension-manuals/templavoila/current/view") templavoila
    %a.list-group-item(href="https://typo3.org/extension-manuals/powermail/current/view") powermail
    %a.list-group-item(href="https://typo3.org/extension-manuals/doc_indexed_search/current/view") doc_indexed_search
    %a.list-group-item(href="https://typo3.org/extension-manuals/crawler/current/view") crawler
    %a.list-group-item(href="https://typo3.org/extension-manuals/direct_mail/current/view") direct_mail
    %a.list-group-item(href="https://typo3.org/extension-manuals/sr_feuser_register/current/view") sr_feuser_register
    %a.list-group-item(href="https://typo3.org/extension-manuals/cal/current/view") cal
    %a.list-group-item(href="https://typo3.org/extension-manuals/ve_guestbook/current/view") ve_guestbook