%footer#footer
  .container
    .row
      .col-xs-6
        %p
          TYPO3 - little helper
          %span.version
          was built with
          %a(href="http://fireapp.handlino.com/")<
            %img(alt="Go to fire.app" src="images/fire.app.png")<
      .col-xs-6
        %p.pull-right
          &copy; 2013 by 
          %a(href="http://www.agentur-simon.de/" rel="tooltip" title="Agentur Simon. Attractive, fast loading and user-friendly web sites are our trademark. And we love Webdesign and TYPO3.")<
            Agentur Simon            