.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle(data-target=".navbar-collapse" data-toggle="collapse" type="button")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="http://association.typo3.org")
        %img(alt="Go to TYPO3.org" src="images/logo.png")
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a(href="http://typo3.org/download/") Downloads
        %li
          %a(href="http://typo3.org/extensions/repository/") Extensions
        %li
          %a(href="http://wiki.typo3.org/") WIKI
        %li
          %a(href="http://typo3.org/news/") News
        %li
          %a(href="http://typo3.org/teams/security/security-bulletins/") Security
        %li
          %a(href="http://buzz.typo3.org/") Buzz
        %li
          %a(href="http://twitter.com/typo3/") Twitter
      %ul.nav.navbar-nav.navbar-right
        %li.active.dropdown
          %a.dropdown-toggle(data-toggle="dropdown" href="#")
            Fast access
            %span.caret
          %ul.dropdown-menu
            %li
              %a.typo3-login
                %i
                Login
            %li
              %a.typo3-installtool
                %i
                Installtool